{
  "rabbit":  {
    "url": "192.168.99.100"
  },
  "redis": {
    "url": "192.168.99.100"
  },
  "httpTransport": {
    "host": "localhost"
  },
  "mongo": {
    "url": "mongodb://192.168.99.100/goodly"
  },
  "gateway": {
    "port": 5050
  }
}